@import './base.css';
@import '~bootstrap/dist/css/bootstrap.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1920px;

  font-weight: normal;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 53%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  #app {
    display: grid;
    place-items: center;
    width: 100%;
  }
}



/* have the navbar class change to fit its contents on a smaller screen */


